name: ${DEMO_NAME}

services:
  mq:
    image: ${MQ_IMAGE:-eclipse-mosquitto:2}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Taipei}
      hid: ${HID}
    ports:
      - "${MQTT_PORT:-1883}:1883"
      - "${MQTT_WS_PORT:-9001}:9001"
    volumes:
      - type: bind
        source: ${INSTANCE_DIR}/mq/mosquitto.conf
        target: /mosquitto/config/mosquitto.conf
        read_only: true
      - mq_data:/mosquitto/data
      - mq_log:/mosquitto/log
    networks: [appnet]

  smc:
    image: ${SMC_IMAGE:-mwd-storer-mwd-storer-smc:latest}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Taipei}
      hid: ${HID}
    depends_on:
      - mq
    command: ["node", "/usr/local/bin/smc.js"]
    volumes:
      - type: bind
        source: ${INSTANCE_DIR}/smc/smc_config.js
        target: /etc/smc_config.js
        read_only: true
      - db:/opt/svm/rest/db
      - ivm_var:/var/lib/ivm
      - ivm_opt:/opt/ivm
      - ltms_resource:/opt/ltms-client/resource
    networks: [appnet]

  mw:
    image: ${MW_IMAGE:-mwd-storer-mwd-storer-mw:latest}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Taipei}
      hid: ${HID}
    depends_on:
      - smc
    volumes:
      - type: bind
        source: ${INSTANCE_DIR}/smc/smc_config.js
        target: /etc/smc_config.js
        read_only: true
      # 讓 MW 透過 supervisord 啟動 start.pl（圍繞 SMC/ebus event 的 Perl handler）
      - type: bind
        source: ${INSTANCE_DIR}/mw/supervisor.conf
        target: /etc/supervisor/conf.d/app.conf
        read_only: true
      - log:/var/lib/ivm/log
      - db:/opt/svm/rest/db
      - ivm_var:/var/lib/ivm
      - ivm_opt:/opt/ivm
      - ltms_resource:/opt/ltms-client/resource
    tmpfs:
      - /tmp/tmpfs:size=64m,mode=1777
    networks: [appnet]

  rest:
    image: ${REST_IMAGE:-mwd-storer-mwd-storer-rest:latest}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Taipei}
      hid: ${HID}
    depends_on:
      - mw
    ports:
      - "${REST_PORT:-8080}:80"
    volumes:
      - type: bind
        source: ${INSTANCE_DIR}/smc/smc_config.js
        target: /etc/smc_config.js
        read_only: true
      - log:/var/lib/ivm/log
      - db:/opt/svm/rest/db
      - ivm_var:/var/lib/ivm
      - ivm_opt:/opt/ivm
      - ltms_resource:/opt/ltms-client/resource
      - type: bind
        source: ${INSTANCE_DIR}/rest/nginx-rest.conf
        target: /etc/nginx/sites-available/default
        read_only: true
    networks: [appnet]

  cron:
    image: ${CRON_IMAGE:-mwd-storer-mwd-storer-cron:latest}
    restart: unless-stopped
    environment:
      TZ: ${TZ:-Asia/Taipei}
      hid: ${HID}
      DEMO_NAME: ${DEMO_NAME}
    depends_on:
      - mw
    volumes:
      - type: bind
        source: ${INSTANCE_DIR}/smc/smc_config.js
        target: /etc/smc_config.js
        read_only: true
      - type: bind
        source: ${INSTANCE_DIR}/cron/crontab
        target: /app/crontab
        read_only: true
      - type: bind
        source: ${INSTANCE_DIR}/cron/check_restart.sh
        target: /app/check_restart.sh
        read_only: true
      # 與原本 compose 對齊：LTMS/佈署需要的檔案
      - type: bind
        source: ${INSTANCE_DIR}/cron/hosts
        target: /etc/hosts
      - type: bind
        source: ${INSTANCE_DIR}/cron/ltms-resource.cs
        target: /var/lib/ltms-resource.cs
      # 讓 cron 可以 docker-restart 同一個 compose project 的 mw（透過 docker.sock API）
      - /var/run/docker.sock:/var/run/docker.sock
      - db:/opt/svm/rest/db
      - ivm_var:/var/lib/ivm
      - ivm_opt:/opt/ivm
      - ltms_resource:/opt/ltms-client/resource
    tmpfs:
      - /tmp/tmpfs:size=64m,mode=1777
    networks: [appnet]

networks:
  appnet:
    driver: bridge

volumes:
  db:
  log:
  mq_data:
  mq_log:
  # LTMS 下載與佈署目錄（需要在 cron/mw/rest 之間共享）
  ivm_var:
  ivm_opt:
  ltms_resource:
